@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.profile-page {
  background-color: #ffffff;
}
.profile-page > div {
  display: flex;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}
.profile-page * {
  font-family: "Work Sans", sans-serif;
}
.profile-page p,
.profile-page span,
.profile-page h3,
.profile-page h2 {
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
}
.profile-page .user-info {
  width: 60%;
}
.profile-page .user-info .btn-wrapper button {
  background-color: transparent;
  color: #f84343;
  border: 1px solid #f84343;
  transition: all 200ms ease-in-out;
  padding: 0.7rem 1.3rem;
  border-radius: 10px;
  cursor: pointer;
}
.profile-page .user-info .btn-wrapper button:hover {
  background-color: #f84343;
  color: #ffffff;
}
.profile-page .user-info .mb-2 {
  margin-bottom: 2rem;
}
.profile-page .user-info .mb-2 h3 {
  font-size: 28px;
}
.profile-page .user-info .mb-2 p {
  font-weight: 500;
  font-size: 19px;
}
.profile-page .user-info .mb-2 span {
  font-weight: 400;
  color: rgba(34, 34, 34, 0.6);
}
.profile-page .user-info .user-avatar {
  width: 75%;
}
.profile-page .user-info .user-avatar img {
  width: 100%;
}
.profile-page .form {
  width: 100%;
}
.profile-page .form h2 {
  font-size: 32px;
  margin-bottom: 2rem;
}
.profile-page .form form .form-group {
  border: 1px solid #d5d2d2;
  padding: 0.8rem 1rem;
  border-radius: 10px;
}
.profile-page .form form .form-group label {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0.5rem;
}
.profile-page .form form .form-group .form-control {
  border: none;
  outline: none;
  height: 35px;
  padding: 0;
}
.profile-page .form form .form-btn-wrapper {
  text-align: center;
}
.profile-page .form form .form-btn-wrapper button {
  all: unset;
  background-color: #19a68e;
  width: 60%;
  color: #ffffff;
  padding: 0.8rem 0;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 586px) {
  .profile-page > div {
    flex-direction: column;
  }
  .profile-page > div .user-info {
    width: 100%;
    text-align: center;
  }
  .profile-page > div .user-info .user-avatar {
    width: 100%;
    text-align: center;
  }
  .profile-page > div .user-info .user-avatar img {
    width: 200px;
  }
  .profile-page > div .user-info .mb-2 {
    margin-bottom: 1rem;
  }
  .profile-page > div h3 {
    font-size: 18px;
  }
  .profile-page > div .form label {
    font-size: 14px;
  }
  .profile-page > div .form h2 {
    text-align: center;
    font-size: 27px !important;
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 769px) {
  .profile-page .form h2 {
    font-size: 32px !important;
  }
  .profile-page .form form .form-group label {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 868px) {
  .profile-page .user-info .mb-2 h3 {
    font-size: 23px;
  }
}