@import "../../Style/variables";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  font-family: "Work Sans", sans-serif;
  width: 100vw;
}
.avatar-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  span {
    font-size: 1rem;
  }
}
.email {
  width: auto;
  color: #6c6c70;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.user-avatar {
  width: 320px;
  height: 320px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  @media screen and (max-width: 750px) {
    width: 160px;
    height: 160px;
  }
}
.profileFormCont {
  width: 100%;
}
.data-avatar {
  display: flex;
  gap: 30px;
  margin-right: 50px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.5px;
  color: #6c6c70;
}
.line {
  border-bottom: 0.2px solid #e1e1e1;
  width: 100%;
}
.button_profile {
  all: unset;
  background-color: #19a68e;
  width: 60%;
  color: #19a68e;
  padding: 0.8rem 0;
  border-radius: 10px;
  cursor: pointer;
}

.edit {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 15px;
  width: 100%;
  color: #19a68e;
  font-weight: 600;
  cursor: pointer;
}
.logout {
  margin-top: 20px;
  display: flex;
}
