@use "../../Style/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

// colors
$dashboard-primary-light: #f9fffe;
$card-bg-color-odd: #f4f0f9;
$card-bg-color-even: #fcfcfc;
$card-text-color: #6c6c70;
$card-border-even: 1px solid #efefef;
$text-primary: #222222;
$text-color-light: #698681;

// font size
$size-xlg: 27px;
$size-lg: 23px;
$size-md: 16px;
$size: 14px;
$size-sm: 12px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}


.dashboard {
  background: #fff;

  &__hero-section {
    background-color: $dashboard-primary-light;
    color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .flexx {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        margin: 0.3rem 0 0 0;
        font-size: 14px;
      }
    }
  }

  &__profile-pic-wrapper {
    position: relative;

    &__align-start {
      text-align: start;
    }

    .dashboard__profile-pic {
      width: 100px;

      img {
        width: 100px;
        border-radius: 50%;
      }
    }
  }

  &__upload-label {
    width: 30px;
    position: absolute;
    bottom: -3px;
    right: -8px;

    img {
      width: 100%;
    }

    input[type='file'] {
      display: none;
    }
  }

  &__text {
    font-size: $size;
    font-weight: 400;
    color: #6c6c70;
    letter-spacing: 0.02em;
    line-height: 20px;
  }

  &__title {
    font-size: $size-md;
    color: $text-primary;
    font-weight: 500;
    line-height: 19px;
  }

  &__description {
    font-size: $size-sm;
    color: #6c6c70;
    line-height: 20px;
  }

  &__btn {
    text-align: start;

    >button {
      all: unset;
      padding: 12px 20px;
      border-radius: 5px;
      background-color: transparent;
      color: $primaryColor;
      border: 1px solid $primaryColor;
      word-wrap: nowrap;
      cursor: pointer;
    }
  }

  &__cards {
    display: grid;
    gap: 1.5rem;
    margin: 1.5rem 1rem;
  }

  .table-wrapper {
    margin: 1.5rem 1rem;
    padding: 0 1rem 1.5rem 1rem;
    background-color: #fcfdfd;

    .table-header {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 1rem;
      padding: 1rem 0;

      p {
        letter-spacing: 0.02rem;
        color: #222222;
        font-size: $size-lg;
        font-weight: 500;
        align-self: flex-start;
      }

      button {
        // all: unset;
        // padding: 12px 20px;
        // border-radius: 5px;
        // color: #ffffff;
        // background-color: $primaryColor;
      }
    }

    .table {
      overflow-x: auto;

      .null-table-data {
        display: grid;
        place-items: center;
        min-height: 350px;

        >div {
          text-align: center;

          p {
            margin: 1.5rem 0 0.5rem 0;
          }
        }

        button {
          all: unset;
          padding: 12px 20px;
          border-radius: 5px;
          color: #ffffff;
          background-color: $primaryColor;
          cursor: pointer;
        }
      }

      table {
        width: 768px;
        text-align: left;
        border-collapse: collapse;
        background-color: $primaryColor;
        color: #ffffff;

        tr {
          border-bottom: 1px solid #efefef;
        }

        th {
          font-size: $size-sm;
          letter-spacing: 0.02em;
          color: #ffffff;
          white-space: nowrap;
          padding: 1rem 1rem;
        }

        td {
          font-size: $size;
          color: #ffffff;
          padding: 0.6rem 1rem;

          button {
            font-size: $size-sm;
            all: unset;
            padding: 0.4rem 0.6rem;
            text-align: center;
            border-radius: 30%;
            letter-spacing: 0.05rem;
            background: #ecfdfa;
            border-radius: 16px;
          }

          button.pending {
            background-color: #fbecd6;
            color: #cb8720;
          }

          button.issue {
            background-color: #ecfdfa;
            color: $primaryColor;
          }

          button.cancel {
            background-color: #fbd8d6;
            color: #cb2a20;
          }
        }

        .action {
          padding-right: 0.7rem;
          position: relative;
        }

        .action-icon {
          cursor: pointer;
        }

        .action__overlay {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #fff;
          position: absolute;
          top: 1.85rem;
          right: 0.725rem;
          // border: solid 1px #efefef;
          z-index: 2;
        }

        .action__overlay--item {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5rem 0.825rem;
          width: 100%;
          color: $primaryColor;
          font-size: 0.875rem;
          font-weight: 600;
          transition: 0.3s ease;
          border-bottom: solid 1px #222222;
          cursor: pointer;

          &:last-child {
            border-bottom: none;
          }

          &:hover {
            background-color: $primaryColor;
            color: #efefef;
            transition: 0.3s ease;
            border-color: #efefef;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 780px) {
  .dashboard {
    padding: 3rem 0;

    &__hero-section {
      .flexx {
        p {
          margin: 0;
        }
      }
    }

    &__title {
      font-size: $size-lg;
      margin-bottom: 0.5rem;
      margin-top: 0.1rem;
    }

    &__description {
      font-size: $size-md;
    }

    &__hero-section {
      width: 90%;
      margin: 0 auto 1.2rem auto;
    }

    &__profile-pic {
      border-radius: 50%;
      overflow: hidden;
    }

    &__cards {
      width: 90%;
      margin: 0 auto 1.2rem auto;
      grid-template-columns: 1fr 1fr;
    }

    .table-wrapper {
      width: 90%;
      margin: 0 auto 1rem auto;

      .table-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p {
          align-self: center;
        }
      }

      .table {
        width: 100%;
        margin: 0 auto 1rem auto;

        table {
          width: 100% !important;
        }
      }
    }
  }
}

@media screen and (min-width: 1044px) {
  .dashboard {
    &__hero-section {
      .flexx {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }
    }

    &__cards {
      width: 90%;
      margin: 0 auto 1.2rem auto;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}