#singlePreview {
  text-align: center !important;
}
#singlePreview .button-container {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin: auto;
  border-radius: 20px;
  border: 0.8px solid rgba(84, 84, 84, 0.26);
  background-color: white;
  margin-bottom: 2rem;
}
#singlePreview .button-container button {
  margin: 5px 15px 5px 15px;
  height: 37px;
  width: 130px;
  border-radius: 10px;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
}
#singlePreview .button-container button.not-active {
  background: transparent;
  width: 140px;
  height: 40px;
  font-size: 12px;
  border: 1px solid #19a68e !important;
}
#singlePreview .button-container button.not-active:hover {
  color: #fff;
  background: #19a68e;
  border: none;
  transition: 500ms ease-in-out;
}
#singlePreview .button-container button.active {
  background: #19a68e;
  width: 140px;
  height: 40px;
  font-size: 12px;
  color: #fff;
  border: none;
}
#singlePreview .button-container button.active:hover {
  color: #19a68e;
  background: #fff;
  border: 1px solid #19a68e;
  transition: 500ms ease-in-out;
}
#singlePreview .certificate-share-hero {
  text-align: center !important;
}
#singlePreview .certificate-share-hero h1 {
  font-size: 20px;
  font-weight: 400;
  margin: 0px 0px 45px 0px;
}
#singlePreview .certificate-share-hero button {
  margin: 35px 20px 0px 20px;
  border-radius: 5px;
  color: #19a68e !important;
  width: 140px;
  height: 35px;
  font-size: 12px;
}
#singlePreview .certificate-share-hero button.download-button {
  background: transparent !important;
  border: 1px solid #19a68e !important;
  color: #19a68e !important;
}
#singlePreview .certificate-share-hero button.download-button:hover {
  color: #fff !important;
  background: #19a68e !important;
  border: none !important;
  transition: 500ms ease-in-out;
}
#singlePreview .certificate-share-hero button.send-button {
  background: #19a68e !important;
  color: #fff !important;
  border: none !important;
}
#singlePreview .certificate-share-hero button.send-button:hover {
  color: #19a68e !important;
  background: #fff !important;
  border: 1px solid #19a68e !important;
  transition: 500ms ease-in-out;
}
#singlePreview h2 {
  font-size: 20px;
  margin: 50px 0px 20px 0px !important;
}
#singlePreview .explore-button {
  width: 180px !important;
  height: 40px !important;
  margin: 30px !important;
  text-align: center !important;
  border-radius: 8px !important;
  background: transparent !important;
  border: 1px solid #19a68e !important;
  font-family: "Sora", sans-serif !important;
}
#singlePreview .explore-button:hover {
  color: #fff;
  background: #19a68e !important;
  border: none;
  transition: 500ms ease-in-out;
}
#singlePreview .certificate-header h4 {
  font-size: 22px;
  font-weight: 450;
  margin-bottom: 20px;
}
#singlePreview .sample,
#singlePreview .sample3 {
  background: #ac0423;
  position: relative;
  height: 50px;
  width: 20px;
}
#singlePreview .sample3 {
  float: right;
}
#singlePreview .sample3:after {
  background: #ac0423;
  content: "";
  height: 20px;
  position: absolute;
  right: 10px;
  width: 50px;
}
#singlePreview .sample:after {
  background: #ac0423;
  content: "";
  height: 20px;
  position: absolute;
  left: 10px;
  width: 50px;
}
#singlePreview .sample2 {
  opacity: 0.4;
  background: #ac0423;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 18.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#singlePreview #container-wrapper {
  width: 90%;
  margin: auto;
  padding: 10px;
  max-width: 300px;
  border-top: 4px solid #ac0423;
  border-bottom: 4px solid #ac0423;
  border-left: 4px solid #ac0423;
  border-right: 4px solid #ac0423;
}
#singlePreview #container-design {
  border: 2px solid #ac0423;
}
#singlePreview #single-preview-card {
  position: relative;
}
#singlePreview #single-preview-text {
  position: relative;
  text-transform: capitalize;
}
#singlePreview #single-preview-text #preview-text {
  position: relative;
  top: -15px;
}
#singlePreview #single-preview-text #preview-text h1 {
  font-size: 20px !important;
  margin: 0px !important;
  color: #ac0423;
  font-weight: 450;
}
#singlePreview #single-preview-text #preview-text p {
  text-transform: uppercase;
  font-size: 13px !important;
  color: #ac0423;
}
#singlePreview #single-preview-text #preview-text h2 {
  color: #ac0423;
  font-size: 18px;
  border-bottom: 2px solid #ac0423;
}
#singlePreview #single-preview-text #preview-text h6 {
  font-size: 13px;
  padding: 5px 20px;
}
#singlePreview .single-preview-issue {
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
  margin: 20px 0px 15px 0px;
  color: #ac0423;
}
#singlePreview .single-preview-issue .line {
  border-bottom: 1px solid #ac0423;
}
#singlePreview .single-preview-issue p {
  font-size: 12px;
}
#singlePreview .single-preview-issue h6 {
  font-size: 12px;
}
#singlePreview .single-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#singlePreview .single-images.single-images img {
  margin: 15px;
  width: 80%;
  height: auto;
}
#singlePreview #preview-text img {
  width: 20%;
  position: relative;
  top: -20px;
  z-index: 100;
}
#singlePreview .dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
}
#singlePreview .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0px;
  margin: 0px;
}
#singlePreview .dropdown-content button {
  padding: 0px;
  margin: 0px;
  border: none;
  display: block;
}
#singlePreview .dropdown-content button:hover {
  background-color: #ddd;
}
#singlePreview .dropdown:hover .dropdown-content {
  display: block;
  align-items: center;
  text-align: center;
}
#singlePreview .dropbtn {
  background-color: #19a68e;
  color: #fff !important;
}
@media screen and (min-width: 500px) {
  #singlePreview .certificate-share-hero button {
    width: 160px;
    height: 40px;
    font-size: 13px;
  }
  #singlePreview .certificate-header h4,
#singlePreview h2 {
    font-size: 25px;
    margin: 20px;
  }
  #singlePreview #single-preview-text #preview-text h1 {
    font-size: 28px !important;
  }
  #singlePreview #single-preview-text #preview-text h2 {
    font-size: 25px;
  }
  #singlePreview #container-wrapper {
    width: 100%;
    max-width: 400px;
  }
  #singlePreview .sample2 {
    top: 14.5%;
  }
}
@media screen and (min-width: 768px) {
  #singlePreview .modal-wrapper {
    top: 28%;
  }
  #singlePreview #preview-text img {
    width: 10%;
    position: relative;
    top: -20px;
    z-index: 100;
  }
  #singlePreview .certificate-header h4 {
    font-size: 30px !important;
    margin: 20px;
  }
  #singlePreview .sample2 {
    width: 100px;
    height: 100px;
    top: 25.5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #singlePreview #container-wrapper {
    width: 70%;
    margin: auto;
    padding: 10px;
    max-width: 600px;
  }
  #singlePreview #container-design {
    border: 2px solid #ac0423;
  }
  #singlePreview #single-preview-card {
    position: relative;
  }
  #singlePreview #single-preview-text {
    position: relative;
  }
  #singlePreview #single-preview-text #preview-text {
    position: relative;
    top: -10px;
  }
  #singlePreview #single-preview-text #preview-text h1 {
    font-size: 30px !important;
    margin: 0px !important;
  }
  #singlePreview #single-preview-text #preview-text p {
    font-size: 15px !important;
  }
  #singlePreview #single-preview-text #preview-text h2 {
    font-size: 26px !important;
    border-bottom: 1px solid #ac0423;
  }
  #singlePreview #single-preview-text #preview-text h6 {
    font-size: 15px !important;
    padding: 5px 20px;
  }
  #singlePreview .single-preview-issue {
    margin: 20px 0px 15px 0px;
  }
  #singlePreview .single-preview-issue .line {
    border-bottom: 1px solid #ac0423;
  }
  #singlePreview .single-preview-issue p {
    font-size: 14px;
  }
  #singlePreview .single-preview-issue h6 {
    font-size: 14px;
  }
  #singlePreview h2 {
    font-size: 30px;
    margin-top: 40px;
  }
  #singlePreview .certificate-share-hero button {
    font-size: 15px;
    width: 170px;
    height: 40px;
    margin: 30px 15px 0px 15px;
  }
  #singlePreview .dropdown-content button {
    font-size: 12px;
    padding: 0px !important;
    margin: 0px !important;
    border: none;
    display: block;
  }
  #singlePreview .single-images {
    flex-direction: row;
    justify-content: center;
  }
  #singlePreview .single-images img {
    width: 100%;
    max-width: 250px;
  }
}
@media screen and (min-width: 1024px) {
  #singlePreview .button-container button {
    font-size: 18px;
    width: 200px;
    height: 50px;
  }
  #singlePreview .certificate-share-hero button {
    font-size: 18px;
    width: 200px;
    height: 50px;
    margin: 30px 15px 0px 15px;
  }
  #singlePreview .dropdown-content button {
    font-size: 13px;
    padding: 0px !important;
    margin: 0px !important;
    border: none;
    display: block;
  }
  #singlePreview .sample2 {
    top: 30%;
  }
  #singlePreview .certificate-share-hero img {
    width: 100%;
    height: auto;
    max-width: 700px;
  }
  #singlePreview h2 {
    margin-top: 70px !important;
  }
  #singlePreview .single-images img {
    max-width: 300px;
  }
  #singlePreview .explore-button {
    font-size: 14px !important;
    width: 270px;
    height: 58px;
  }
}
#singlePreview .template-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 15px;
}/*# sourceMappingURL=singlepreview.style.css.map */