@import "../../../Style/variables";



    // Start Certificate markup and style
 .certificate-header h4 { 
    font-size: 22px;
    font-weight: 450;
    margin-bottom: 20px;
  }
  .sample,
  .sample3 {
    background: #ac0423;
    position: relative;
    height: 50px;
    width: 20px;
  }
  .sample3 {
    float: right;
  }
  .sample3:after {
    background: #ac0423;
    content: "";
    height: 20px;
    position: absolute;
    right: 10px;
    width: 50px;
  }
  .sample:after {
    background: #ac0423;
    content: "";
    height: 20px;
    position: absolute;
    left: 10px;
    width: 50px;
  }
  
  .sample2 {
    opacity: 0.4;
    background: #ac0423;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 18.5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  // .water-mark{
  //   display: flex;
  //   justify-content: space-between;
  //   opacity: 0.1;
  //   margin: 0 1rem;
  //   margin-top: -2.6rem;
    
  //   p{
  //       font-size: 32px;
  //       font-weight: 500;
  //       color: #fff;
  //   }
  // }
  #certificate-wrapper{
    margin: 0 2rem;
  }
  
  #container-wrapper {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border-top: 4px solid #ac0423;
    border-bottom: 4px solid #ac0423;
    border-left: 4px solid #ac0423;
    border-right: 4px solid #ac0423;
  }
  
  #container-design {
    border: 2px solid #ac0423;
    // background-color: rgba($color: #000000, $alpha: .1);
  }
  
  #single-preview-card {
    position: relative;
  }
  
  #single-preview-text {
    position: relative;
    text-transform: capitalize;
  
    #preview-text {
      position: relative;
      top: -15px;
  
      h1 {
        font-size: 20px !important;
        margin: 0px !important;
        color: #ac0423;
        font-weight: 450;
      }
  
      p {
        text-transform: uppercase;
        font-size: 13px !important;
        color: #ac0423;
      }
  
      h2 {
        color: #ac0423;
        font-size: 18px;
        border-bottom: 2px solid #ac0423;
      }
  
      h6 {
        font-size: 13px;
        padding: 5px 20px;
      }
    }
  }
  
  .single-preview-issue {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    margin: 20px 0px 15px 0px;
    color: #ac0423;
    .line {
      border-bottom: 1px solid #ac0423;
    }
  
    p {
      font-size: 12px;
    }
    h6 {
      font-size: 12px;
    }
  }
  
  .single-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &.single-images img {
      margin: 15px;
      width: 80%;
  
      height: auto;
    }
  }
  
  #preview-text img {
    width: 20%;
    position: relative;
    top: -20px;
    z-index: 100;
  }
  
   // End Certificate markup and style
