
//TEMPLATE TWO

#template2-wrapper {
  position: relative;
  width: 98%;
  margin: auto;

  border: 3px solid #19acbe;
  padding: 2px;
  background: #eee;
  max-width: 600px;

  #certificateWrapper2 {
    background: #19acbe;
    border: 2px solid #19acbe;
    padding: 7px;
    margin: 1px;
  }

  #template2-container {
    padding: 1px;
    margin: 5px;
    background: #eee;
    border: 2px solid #19acbe;
  }

  #template2-design {
    border: 3px solid #19acbe;
    background: white;
    margin: 1px;
  }

  h2,
  h6,
  p,
  .issue-by {
    color: #19acbe !important;
  }

  #preview-text h2 {
    border-bottom: 2px solid  #19acbe !important;
    
  }
  #single-preview-card{
    padding: 10px;
    
  }
  #preview-text{
    margin-top: 20px;
  }

  .single-preview-issue {
    margin: 20px 0px 15px 10px;
    

    .line {
      border-bottom: 1px solid #19acbe !important;
    }
  }
}


// @media screen and (min-width:312px){
// #template2-wrapper{

//   #single-preview-card{
//     position:relative;
//     top: 20px!important;
//   }

//   .single-preview-issue {
    
//     position:relative;
//     top: 40px!important;

//   }
// }
// }

// @media screen and (min-width:400px){
// #template2-wrapper{

//   #single-preview-card{
//     position:relative;
//     top: 50px!important;
//   }

//   .single-preview-issue {
//     position:relative;
//     top: 50px!important;

//   }
// }
// }


@media screen and (min-width:768px){
    #template2-wrapper {
        position: relative;
        width: 98%;
        margin: auto;
      
        border: 3px solid #19acbe;
        padding: 2px;
        background: #eee;
        max-width: 700px;
      

}
}


//TEMPLATE THREE

#template3-wrapper {
  position: relative;
  width: 98%;
  margin: auto;
border-radius: 5px;
  border: 3px solid #264534;
  padding: 2px;
  background: #fff;
  max-width: 600px;

  #certificateWrapper3 {
    border: 3px dotted #264534;
    margin: 1px;
  }

  #template3-container {
    padding: 1px;
    margin: 5px;
    background: #fff;
    
  }

  #template3-design {
   
    background: white;
    margin: 1px;
  }

  h2,
  h6,
  p,
  .issue-by {
    color: #264534 !important;
  }

  #preview-text h2  {
    border-bottom: 2px solid #264534!important;
   
  }
  #single-preview-card{
    padding: 10px;
  }
  #preview-text{
    margin-top: 20px;
  }

  .single-preview-issue {
    margin: 20px 0px 15px 0px;

    .line {
      border-bottom: 1px solid #264534 !important;
    }
  }
}



// @media screen and (min-width:312px){
//   #template3-wrapper{
  
//     #single-preview-card{
//       position:relative;
//       top: 20px!important;
//     }
  
//     .single-preview-issue {
      
//       position:relative;
//       top: 40px!important;
  
//     }
//   }
//   }
  
//   @media screen and (min-width:400px){
//   #template3-wrapper{
  
//     #single-preview-card{
//       position:relative;
//       top: 30px!important;
//     }
  
//     .single-preview-issue {
//       position:relative;
//       top: 70px!important;
  
//     }
//   }
//   }

@media screen and (min-width:768px){
    #template3-wrapper {
        position: relative;
        width: 98%;
        margin: auto;
        border: 3px solid #264534;
        padding: 2px;
        background: #fff;
        max-width: 700px;
      

}
}