//TEMPLATE TWO
#template2-wrapper {
  width: 98%;
  margin: auto;
  padding: 2px;
  max-width: 600px;
  position: relative;
  background: #eee;
  border: 3px solid #19acbe;

  #certificateWrapper2 {
    margin: 1px;
    padding: 7px;
    background: #19acbe;
    border: 2px solid #19acbe;
  }

  #template2-container {
    margin: 5px;
    padding: 1px;
    background: #eee;
    border: 2px solid #19acbe;
  }

  #template2-design {
    margin: 1px;
    background: white;
    border: 3px solid #19acbe;
  }

  h2,
  h6,
  p,
  .issue-by {
    color: #19acbe !important;
  }

  #preview-text h2 {
    border-bottom: 2px solid #19acbe !important;
  }

  #single-preview-card {
    padding: 10px;

  }

  #preview-text {
    margin-top: 20px;
  }

  .single-preview-issue {
    margin: 20px 0px 15px 10px;

    .line {
      border-bottom: 1px solid #19acbe !important;
    }
  }
}

@media screen and (min-width:768px) {
  #template2-wrapper {
    width: 98%;
    margin: auto;
    padding: 2px;
    max-width: 700px;
    position: relative;
    background: #eee;
    border: 3px solid #19acbe;
  }
}

//TEMPLATE THREE
#template3-wrapper {
  width: 98%;
  margin: auto;
  padding: 2px;
  max-width: 600px;
  position: relative;
  border-radius: 5px;
  background: #fff;
  border: 3px solid #264534;

  #certificateWrapper3 {
    margin: 1px;
    border: 3px dotted #264534;
  }

  #template3-container {
    margin: 5px;
    padding: 1px;
    background: #fff;
  }

  #template3-design {
    margin: 1px;
    background: white;
  }

  h2,
  h6,
  p,
  .issue-by {
    color: #264534 !important;
  }

  #preview-text h2 {
    border-bottom: 2px solid #264534 !important;
  }

  #single-preview-card {
    padding: 10px;
  }

  #preview-text {
    margin-top: 20px;
  }

  .single-preview-issue {
    margin: 20px 0px 15px 0px;

    .line {
      border-bottom: 1px solid #264534 !important;
    }
  }
}

@media screen and (min-width:768px) {
  #template3-wrapper {
    width: 98%;
    margin: auto;
    padding: 2px;
    max-width: 700px;
    position: relative;
    background: #fff;
    border: 3px solid #264534;
  }
}
