@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&display=swap");
@import "../../Style/variables";

.modal-wrap {
  height: 100%;
  width: 100%;
  background: rgba(34, 34, 34, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  overflow: hidden;
  font-family: "Sora", sans-serif;

  //Position modal at the center of the page
  display: flex;
  justify-content: center;

  .modal-container {
    background-color: #fff;
    max-width: 1000px;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 9%;
    align-self: center;
    padding: 25px 15px;

    // Align items

    display: flex;
    flex-direction: column;
    gap: 15px;

    
  }
}

@media (min-width: 700px) {
  .modal-wrap {
    .modal-container {
      // max-width: 800px;
      // width: 100%;
      top: 300px;
      padding: 35px;

      &__header {
        font-size: 30px;
      }

      &__text {
        font-size: 16px;
        width: 75%;
        margin-inline: auto;
      }

      &__btns {
        gap: 20px;
      }
    }
  }
}
