.partners-containers {
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
}
.partners-containers .partner-head {
  padding: 0 0 32px 0;
  font-weight: 700;
  text-align: center;
}
.partners-containers .partners {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
}
@media screen and (max-width: 868px) {
  .partners-containers .partners {
    width: 95%;
    margin: auto;
    align-items: center;
    gap: 50px;
  }
  .partners-containers .partners img {
    width: 20%;
  }
}
@media screen and (max-width: 480px) {
  .partners-containers .partners {
    padding: 0 1rem;
    width: 100%;
  }
}