.partners-containers {
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
  .partner-head {
    padding: 0 0 32px 0;
    font-weight: 700;
    text-align: center;
  }
  .partners {
    width: 100%;
    display: flex;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    // overflow-x: auto;
    img {
      width: 10%;
    }
    .udemy {
      width: 6%;
    }
    .coursera {
      width: 6%;
    }
    .skillshare {
      width: 8%;
    }
  }
  @media screen and (max-width: 868px) {
    .partners {
      width: 95%;
      margin: auto;
      align-items: center;
      gap: 50px;
      img {
        width: 20%;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .partners{
      padding: 0 1rem;
      width: 100%;
    }
  }
}
