.partners-containers {
  padding: 0 7rem 7rem;
  width: 100%;
  .partner-head {
    padding: 0 0 32px 0;
    font-weight: 700;
    text-align: center;
  }
  .partners {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
  }
  @media screen and (max-width: 868px) {
    width: 90%;
    margin: auto;
    align-items: center;
    gap: 50px;
    overflow: scroll;
    img {
      width: 20%;
    }
  }
}
