@import "../../Style/variables";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");

#edit {
  
body {
  h1 {
    font-size: 30px;
    font-weight: 500;
  }
}

.form {
  border: 1px solid #545454;
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
  text-align: left;
  background: #fafafb;
  margin-bottom: 50px!important;

  .logo input {
    padding: 5px!important;
    border-radius: 5px!important;
    border: 1px solid #545454;
    width: 26%!important;
    margin-top: 15px!important;
    margin-bottom: 0px!important;
  }

  .logo h6 {
    margin-bottom: 30px!important;;
    margin-top: 5px!important;;
  }
  label {
    font-weight: bolder;
  }

  input,
  select {
    padding: 18px!important;
    border-radius: 10px!important;;
    border: 1px solid grey;
    width: 95%!important;;
    margin-top: 15px!important;
    margin-bottom: 30px!important;
    background: #fff;
  }

  select {
    width: 100%!important;;
  }

  button {
    background: $primaryColor;
    color: #fff!important;;
    border: none;

    width: 130px;
    height: 43px;
    text-align: center!important;;
    margin: 0px;

    &:hover {
      color: $primaryGreenColor;
      background: #fff;
      border: 1px solid $primaryGreenColor;
      transition: 500ms ease-in-out;
    }
  }
}

@media screen and (min-width: 768px) {
  .modify-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form {
    width: 100%;
    max-width: 700px;
    height: auto;
  }
}

}
