@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&family=Work+Sans:wght@400;500;700&display=swap");
#testimonials .flex {
  display: flex;
}
#testimonials .justify-between {
  justify-content: space-between;
}
#testimonials .grid {
  display: grid;
}
#testimonials .work-sans {
  font-family: "Work sans";
}
#testimonials .sora {
  font-family: "Sora";
}
#testimonials .line-height {
  line-height: 24px;
}
#testimonials .emphasized {
  color: #19a68e;
}
#testimonials .text-left {
  text-align: left;
}
#testimonials .items-center {
  align-items: center;
}
#testimonials .center {
  width: 90%;
  margin: auto;
}
#testimonials .testimonial-header {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  padding: 120px 0 16px 0;
}
#testimonials .testimonial-caption {
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 40px;
}
#testimonials .container {
  width: 343px;
  height: 329px;
  border: 1px solid rgba(73, 73, 73, 0.4);
  border-radius: 24px;
  padding: 40px 25px 0 25px;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  #testimonials .testimonials {
    overflow-x: scroll;
  }
}