@import "../../Style/variables";

// input[type="text"],
// input[type="date"],
// input[type="file"],
// input [type="email"]
.input {
  width: 100%;
  position: relative;

  label {
    margin: 0 0 0.7rem !important;
  }

  span {
    position: absolute;
    top: 2.7rem;
    right: 0.7rem;
  }

  input {
    width: 100%;
    height: 3.1875rem;
    outline: none;
    border: 0.8px solid #2c2c2c85;
    color: #2c2c2c85;
    border-radius: 10px;
    padding: 1em;
    font-size: 1rem;

    &::-webkit-calendar-picker-indicator {
      display: none;
    }

    &.error {
      border: 1px solid $errorRedColor;
    }

    &+p {
      color: $errorRedColor;
      font-size: 0.8125rem;
    }

    &[type="submit"] {
      // display: block;
      // background: $primaryColor;
      // color: #fff;

      // min-width: 200px;
      // width: fit-content;

      // // min-height: 40px;
      // text-transform: capitalize;

      // border: 0;
      // border-radius: 10px;
      // margin-top: 1em;
      // font-size: 1.1rem;
      // transition: all 0.3s;
      // outline: none;
      background: $primaryColor;
      color: #fff;
      padding: 0.75rem;
      min-width: 9rem;
      width: fit-content;
      height: 3rem !important;

      border: 1px solid $primaryColor;
      outline: none;
      border-radius: 10px;

      text-align: center;
      font-size: 1.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      //margin-top: 1rem;
      font-weight: 400;
      text-transform: capitalize;
      transition: all 0.3s;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}