.input {
  width: 100%;
}
.input input {
  width: 100%;
  outline: none;
  border: 0.8px solid rgba(44, 44, 44, 0.5215686275);
  color: rgba(44, 44, 44, 0.5215686275);
  border-radius: 10px;
  padding: 1em;
}
.input input::-webkit-calendar-picker-indicator {
  display: none;
}
.input input.error {
  border: 1px solid #fb4343;
}
.input input + p {
  color: #fb4343;
  font-size: 0.8125rem;
}
.input input[type=submit] {
  background: #19a68e;
  color: #fff;
  padding: 0.75rem;
  min-width: 9rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 3rem !important;
  border: 1px solid #19a68e;
  outline: none;
  border-radius: 10px;
  text-align: center;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  text-transform: capitalize;
  transition: all 0.3s;
}
.input input[type=submit]:hover {
  opacity: 0.7;
  cursor: pointer;
}