@import "../../Style/variables";

.active-btn {
    background-color: #19A68E;
    padding: 1.125rem;
    color: white;
    width: fit-content;
    border:none;
    outline:none;
    border-radius: 10px;
    padding: 0.75rem;
    text-align: center;
    font-size: 1.125rem;
    margin-top: 1rem;
    font-weight: 400;
    cursor: pointer;
    margin: 15px;
}

.title h1, .title p {
    text-align: center;
}

  

.legal-btns {
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 50px 100px 180px 100px;
    }
    
    p, li {
        font-size: 19px;
    }
    
    .content h2 {
        font-size: 38px;
        margin-bottom: 10px;
        font-weight: 600;
        margin-bottom: 20px;
      }


    
    li {
        margin-bottom: 20px;
        list-style-type: square;
    }
    
    ul {
        padding-left: 25px;
    }
    
    .inactive-btn {
        background-color: #19a68f8c;
        padding: 1.125rem;
        color: white;
        width: fit-content;
        border:none;
        outline:none;
        border-radius: 10px;
        padding: 0.75rem;
        text-align: center;
        font-size: 1.125rem;
        margin-top: 1rem;
        font-weight: 400;
        cursor: pointer;
        margin: 15px;
    }
    
    .content {
     .green {
         color: #19A68E;
         font-size: 17px;
         font-weight: 700;
         margin-bottom: 0;
         padding-bottom: 0;
    }
    
     #green {
        font-size: 19px;
        color: #19A68E;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
    

  
    
    @media (max-width: 834px) {
        .main-page {
            text-align: left;
            display: flex;
            flex-direction: column;
            padding: 50px 10px 180px 10px;
            }
    
            h2 {
                font-size: 39px;
            }
    }
    
    @media (max-width: 375px) {
        .content {
        h2 {
            font-size: 23px;
            font-weight: 700;
        }
    
        .green {
            font-weight: 400;
        }
    
        #green {
            font-weight: 400;
        }
    }
    
    }

@media (max-width: 515px) {
    .legal-btns {
        display: flex;
    }

    .content button, .inactive-btn, .active-btn {
      
        font-weight: 500;
        font-size: 12px;
    }

    
}