@import "../../Style/variables";
body{
  text-align:center;
}
//BUTTONS
#bulkPreview {
    text-align:center!important;
button {
  margin: 15px 10px 25px 10px;
  border-radius: 5px;
  color: $primaryColor;
  width: 160px;
  height: 40px;
  font-size: 12px;
  font-family: "Work Sans", sans-serif;

  &.send-button {
    background: transparent;
    border: 1px solid $primaryColor;
    color: $primaryColor;
    &:hover {
      color: #fff;
      background: $primaryColor;
      border: none;
      transition: 500ms ease-in-out;
    }
  }

  &.download-button {
    background: $primaryColor!important;;
    color: #fff;
    border: none;

    &:hover {
      color: $primaryColor;
      background: #fff;
      border: 1px solid $primaryColor;
      transition: 500ms ease-in-out;
    }
  }
}
.bulk h2 {
  margin: 40px;
}

.bulk-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px!important;
}

// CERTIFICATE IMAGES

.bulk-images {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.bulk-images img {
    margin: 10px;
    margin: 15px;
    width: 80%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .bulk-images {
    flex-direction: row;
    justify-content: center;

    &.bulk-images img {
      width: 100%;
      max-width: 200px;
    }
  }

  .bulk-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px!important;
  }
}

@media screen and (min-width: 1000px) {
  .bulk-images img {
    max-width: 300px !important;
  }
}

}
