#comingsoon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  max-width: 100% !important;
  width: 90%;
  margin: 50px auto 100px;

  img {
    cursor: pointer;
  }

  .back {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #19A68E;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 20px;
    width: 200px;

    .arrow {
      margin-right: 15px;
    }
  }
  
  .f1 {
    font-family: 'Sora';
    font-weight: 700;
    font-size: 64px;
    line-height: 81px;
    letter-spacing: -0.5px;
    color: 0;
    margin-left: 0;
    height: 81px;
    margin-bottom: 20px;
  }
  .p {
    font-family: 'Sora';
    font-weight: 400;
    font-size: 27px;
    line-height: 44px;
    letter-spacing: -0.5px;
    color: 0;
  }
  .formdat {
    margin-top: 40px;

    .fx{
      display: flex;
      align-items: center;

      .email {
        height: 49px;
        width: 388px;
        background: #FFFFFF;
        border: 1.2px solid #19A68E;
        border-radius: 10px;
      }
      
      button {
        cursor: pointer;
        margin-left: 20px;
      }
    }

    .spam {
      font-family: 'Work Sans';
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.004em;
      color: #6C6C70;
      margin-top: 20px;
    }
  }

}



@media (max-width: 1200px) {
  #comingsoon {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    position: relative;

    .welcomeHead {
      text-align: center;

      .back {
        position: absolute;
        top: -30px;
        left: 0;
      }

      .f1 {
        margin-top: 20px;
      }
  
      .p {
        width: 510px;

      }

      .formdat {
    
        .fx{
          flex-direction: column;
          
          button {
            margin-left: 0px;
            margin-top: 20px;
          }
        }
    
        .spam {
          text-align: center;
          width: 100%;
        }
      }
  
    }

    .construction {
      grid-row: 1;
    }
    
  }
}
@media (max-width: 600px) {
  #comingsoon {

    .welcomeHead {
      text-align: center;

      .f1 {
        margin-top: 10px;
        font-size: 48px;
        line-height: 60px;
      }
  
      .p {
        max-width: 100%;
        width: 90%;
        margin: auto;
        font-size: 19px;
        line-height: 24px;
      }
    }

    .construction {
        img {
          width: 400px;
      }
    }
    
  }
}

@media (max-width: 420px) {
  #comingsoon {
    .welcomeHead {
      .f1 {
        font-size: 32px;
        line-height: 40px;
        margin-top: -20px;
      }

      .p {
        margin-top: -40px;
      }

      .formdat {
        .fx {
          .email {
            width: 300px;
          }
        }
      }
    }

    .construction {
        img {
          width: 100%;
      }
    }
    
  }
}



