@import "../../Style/variables";

.btn {
  display: block;
  background: $primaryColor;
  color: #fff;

  min-width: 200px;
  width: fit-content;

  min-height: 40px;
  text-transform: capitalize;

  border: 0;
  border-radius: 10px;
  font-size: 1.1rem;
  transition: all 0.3s;
  outline: none;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: #fff;
    color: $primaryColor;
    border: 1px solid $primaryColor;
  }
  &.btn-light {
    background-color: #fff;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    &:hover {
      background: $primaryColor;
      color: #fff;
    }
  }
}
