@import '../career.style.scss';

.section4 {
    background: $containerBackground;
    padding: 3rem 5rem;
    text-align: initial;

    @media screen and (max-width: $small) {
        padding: 3rem 2rem;
    }

    h2 {
        color: #08372F;
        font-size: 3rem;
        margin-bottom: 3rem;

        @media screen and (max-width: $small) {
            font-size: 2rem;
        }
    }

    form {
        .search__wrapper {
            display: flex;
            align-items: center;
            gap: 10px;

            .input__div {
                background: #FFFFFF;
                display: flex;
                border: 1.2px solid rgba(34, 34, 34, 0.6);
                padding: 5px 10px;
                height: 3rem;
                width: 100%;
                border-radius: 10px;

                img {
                    width: 1.5rem;
                }

                .input {
                    all: initial;
                    border: none;
                    padding: 5px 10px;
                    outline: none;
                    width: 100%;
                }
            }
        }

        .clear {
            text-align: right;
            cursor: pointer;
            display: none;
        }

        .options {
            select {
                padding: 10px 12px;
                width: 141px;
                height: 40px;
                border-radius: 8px;
                border: 1px solid #222222;
                margin: 1rem 1rem 0 0;
                outline: none;

                @media screen and (max-width: $small) {
                    width: 112px;
                }
            }
        }
    }

    .jobs {
        margin-top: $mt-2;

        .job__type {
            display: flex;
            align-items: center;

            .number__badge {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: $bold;
                font-size: 19px;
                padding: 2px;
                width: 25px;
                height: 25px;
                color: #FFFFFF;
                background: #6C6C70;
                border-radius: 22rem;
                margin-left: 10px;
            }
        }

        .job__cont {
            margin-bottom: 1.4rem;
        }

        .job__desc {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: $small) {
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 1rem;
            }

            h3 {
                font-size: 1.8rem;
                margin-top: $mt-1;

                @media screen and (max-width: $small) {
                    font-size: 1.4rem;
                }
            }

            h4 {
                font-size: 1.2rem;
                margin: $mt-1 0;

                b {
                    color: #6C6C70;
                }
            }
        }
    }
}