@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&family=Work+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  color: #222222;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.work-sans {
  font-family: "Work sans";
}

.sora {
  font-family: "Sora";
}

.line-height {
  line-height: 24px;
}

.emphasized {
  color: #19A68E;
}

.text-left {
  text-align: left;
}

.items-center {
  align-items: center;
}

.center {
  width: 90%;
  margin: auto;
}

.hero {
  padding-top: 80px;
}
.hero .hero-left {
  width: 533px;
  height: 328px;
  text-align: left;
}
.hero .hero-left .hero-text {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 20px;
}

.gap {
  gap: 20px;
}

.hero-button {
  width: 232px;
  height: 48px;
  background-color: #19A68E;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  margin-top: 32px;
  text-align: center;
}

.mobile-only {
  display: none;
}

.perks {
  padding: 2% 0 0 0;
}
@media screen and (max-width: 1130px) {
  .perks {
    padding-top: 20%;
  }
}
@media screen and (max-width: 950px) {
  .perks {
    padding-top: 25%;
  }
}
@media screen and (max-width: 650px) and (min-width: 481px) {
  .perks {
    padding-top: 300px !important;
  }
}

.tick {
  width: 26.67px;
  height: 26.67px;
}

.partners {
  display: flex;
  align-items: flex-end;
  gap: 100px;
  padding-left: 10%;
}

.partner-head {
  padding: 120px 0 32px 0;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .hero {
    padding-top: 40px;
  }
  .hero-left .hero-text {
    font-size: 32px;
    line-height: 40px;
  }
  .hero-img {
    width: 45%;
    height: 100%;
    margin-left: 50px;
  }
  .perks {
    padding-top: 40%;
  }
  .partners {
    width: 90%;
    margin: auto;
    align-items: center;
    gap: 50px;
    overflow: scroll;
  }
  .partners img {
    width: 20%;
  }
}
@media screen and (max-width: 480px) {
  .hero-img {
    display: none;
  }
  .hero {
    padding-top: 40px !important;
    text-align: center;
  }
  .hero-left {
    width: 100vw;
    height: 20% !important;
    text-align: center;
  }
  .hero-text {
    font-size: 24px !important;
    line-height: 30px !important;
    text-align: center;
  }
  .hero-caption {
    font-size: 16px;
    text-align: center;
  }
  .hero-button {
    width: 100%;
  }
  .mobile-only {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
  }
  .perks {
    flex-direction: column;
    padding-top: 50px;
  }
  .perks .single-perk {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    font-size: 14px !important;
  }
  .partner-head {
    padding: 60px 0 30px 0;
  }
  .partners {
    display: grid;
    grid-template-columns: 10px 10px 10px 10px;
    grid-template-rows: 10px 10px 10px 10px;
    grid-template-areas: "a b c d" "e f g h";
    gap: 40%;
    padding-inline: 5%;
  }
  .partners .bottom {
    margin-bottom: -100px;
  }
}/*# sourceMappingURL=hero.style.css.map */