@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");
#aboutUs body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
#aboutUs h1,
#aboutUs h2,
#aboutUs h3,
#aboutUs h4,
#aboutUs h5,
#aboutUs h6 {
  text-align: left;
  letter-spacing: -0.004em;
  color: #222222;
  margin: 0;
  padding: 0;
}
#aboutUs h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
}
#aboutUs h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
#aboutUs h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: center;
}
#aboutUs h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
#aboutUs h5 {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
#aboutUs h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}
#aboutUs .btn {
  width: 163px;
  color: #ffffff;
  background: #19A68E;
  padding: 17.5px 26px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.004em;
}
#aboutUs .aboutstroke {
  background: #19A68E;
  align-items: center;
  border-radius: 8px;
  width: 114px;
  height: 10px;
}
#aboutUs .aboutHero {
  display: flex;
  padding: 0 100px;
}
#aboutUs .aboutHeroL {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding: 40px 0 160px;
}
#aboutUs .aboutHeroL h4 {
  padding-bottom: 14px;
}
#aboutUs .aboutHeroR {
  position: absolute;
  top: 0;
  right: 0;
}
#aboutUs .aboutAbout {
  display: flex;
  padding: 40px 100px;
  gap: 10%;
  background: #F8F8F8;
  align-items: center;
}
#aboutUs #mission {
  background: #ffffff;
}
#aboutUs .aboutAboutD {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#aboutUs .aboutAboutD h3 {
  text-align: left;
}
#aboutUs .aboutAboutD h4 {
  padding-bottom: 16px;
}
#aboutUs .aboutAboutImg {
  width: 45%;
}
#aboutUs .aboutAboutImg img {
  width: 100%;
  height: 70%;
}
#aboutUs .aboutValue {
  padding: 40px 0 40px 100px;
}
#aboutUs .aboutValue h2 {
  text-align: center;
  color: #19A68E;
  padding-bottom: 37px;
}
#aboutUs #vh4 {
  text-align: center;
  padding: 0 20% 0 20%;
}
#aboutUs .aboutValueS {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding-top: 51px;
  overflow: scroll;
}
#aboutUs .aboutValueCard {
  width: 600px;
  height: 300px;
  position: relative;
  border-radius: 5px;
  padding: 30px 45px 33px 32px;
  background: #FFFFFF;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1019607843);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1019607843);
  box-shadow: 0px 32px 19px 0px rgba(0, 0, 0, 0.0509803922);
}
#aboutUs .aboutValueCardD {
  display: flex;
  gap: 22px;
  position: absolute;
  bottom: 24px;
  align-items: center;
}
#aboutUs #v2h4 {
  padding-bottom: 12px;
}
#aboutUs .aboutService {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 100px;
  background: #F8F8F8;
}
#aboutUs .aboutService h3 {
  padding-bottom: 16px;
}
#aboutUs .aboutServiceS {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#aboutUs .aboutServiceCard {
  display: flex;
  gap: 48px;
  align-items: center;
  padding: 24px 24px 24px 0;
}
#aboutUs .aboutServiceCardT h5 {
  padding-top: 14px;
}
#aboutUs .aboutGallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F8F8F8;
  padding: 40px 100px;
  margin-bottom: 59px;
}
#aboutUs .aboutGallery h3 {
  padding-bottom: 17px;
}
#aboutUs .aboutGalleryS {
  padding-top: 63px;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}
#aboutUs .aboutGalleryS img {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  #aboutUs h1 {
    font-size: 32px;
    line-height: 38px;
  }
  #aboutUs h2 {
    font-size: 40px;
    line-height: 47px;
  }
  #aboutUs h4 {
    font-size: 18px;
    line-height: 21px;
  }
  #aboutUs h5,
#aboutUs h6 {
    font-size: 14px;
    line-height: 16px;
  }
  #aboutUs .aboutHero {
    padding: 0 44px;
  }
  #aboutUs .aboutHeroL {
    gap: 24px;
    padding: 24px 0 120px;
    width: 45%;
  }
  #aboutUs .aboutHeroL h4 {
    padding-bottom: 11px;
  }
  #aboutUs .aboutHeroR img {
    height: 500px;
    width: 350px;
  }
  #aboutUs .aboutAbout {
    padding: 36px 44px;
    gap: 6%;
  }
  #aboutUs .aboutAboutD {
    width: 47%;
  }
  #aboutUs .aboutAboutImg {
    width: 47%;
  }
  #aboutUs .aboutValue {
    padding: 36px 0 36px 44px;
  }
  #aboutUs .aboutValue h2 {
    padding-bottom: 24px;
  }
  #aboutUs #vh4 {
    padding: 0 10%;
  }
  #aboutUs .aboutValueCard {
    width: 480px;
    height: 220px;
    border-radius: 10px;
    padding: 24px 19px 24px 16px;
  }
  #aboutUs .aboutValueCardD {
    gap: 22px;
    bottom: 20px;
  }
  #aboutUs .aboutValueS {
    gap: 28px;
  }
  #aboutUs .aboutValueCardD img {
    height: 50px;
    width: 50px;
  }
  #aboutUs #v2h4 {
    padding-bottom: 6px;
  }
  #aboutUs .aboutService {
    padding: 36px 44px;
  }
  #aboutUs .aboutServiceS {
    padding: 36px 0 36px;
  }
  #aboutUs .aboutServiceCard {
    padding: 12px 24px 12px 0;
  }
  #aboutUs .aboutServiceCard img {
    height: 50px;
    width: 50px;
  }
  #aboutUs .aboutServiceCardT h5 {
    padding-top: 6px;
  }
  #aboutUs .aboutGallery {
    padding: 36px 44px;
    margin-bottom: 51px;
  }
  #aboutUs .aboutGallery h3 {
    padding-bottom: 12px;
  }
  #aboutUs .aboutGalleryS {
    padding-top: 44px;
    gap: 36px;
  }
  #aboutUs .aboutGalleryS img {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  #aboutUs .aboutHeroR img {
    width: 320px;
    height: 450px;
  }
  #aboutUs .aboutServiceS {
    gap: 16px;
  }
  #aboutUs .aboutServiceCard {
    gap: 12px;
  }
}
@media screen and (max-width: 600px) {
  #aboutUs h1,
#aboutUs h2,
#aboutUs h3 {
    font-size: 18px;
    line-height: 21px;
  }
  #aboutUs h4 {
    font-size: 12px;
    line-height: 14px;
  }
  #aboutUs h5 {
    font-size: 11px;
    line-height: 13px;
  }
  #aboutUs h6 {
    font-size: 10px;
    line-height: 12px;
  }
  #aboutUs .btn {
    font-size: 16px;
    line-height: 19px;
  }
  #aboutUs .aboutstroke {
    width: 50px;
  }
  #aboutUs .aboutHero {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
  }
  #aboutUs .aboutHeroL {
    padding: 0 0 36px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #aboutUs .aboutHeroR {
    position: relative;
    width: 100%;
  }
  #aboutUs .aboutHeroR img {
    width: 100%;
  }
  #aboutUs .aboutAbout {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 48px;
  }
  #aboutUs #mission {
    flex-direction: column-reverse;
  }
  #aboutUs .aboutAboutD {
    width: 100%;
    align-items: center;
  }
  #aboutUs .aboutAboutImg {
    width: 100%;
    height: 100%;
  }
  #aboutUs .aboutValue {
    padding: 24px 0 24px 24px;
  }
  #aboutUs .aboutValue h2 {
    padding-bottom: 16px;
  }
  #aboutUs #vh4 {
    padding: 0 5%;
    font-size: 14px;
    line-height: 16px;
  }
  #aboutUs .aboutValueS {
    gap: 24px;
    padding-top: 35px;
  }
  #aboutUs .aboutValueCard {
    width: 240px;
    height: 140px;
    padding: 16px 10px 13px;
  }
  #aboutUs #v1h4 {
    padding-bottom: 24px;
    font-size: 10px;
    line-height: 12px;
  }
  #aboutUs .aboutValueCardD {
    gap: 5px;
    bottom: 16px;
  }
  #aboutUs .aboutValueCardD img {
    height: 30px;
    width: 30px;
  }
  #aboutUs #v2h4 {
    padding-bottom: 1px;
  }
  #aboutUs .aboutService {
    padding: 24px;
  }
  #aboutUs .aboutService h3 {
    padding: 16px 0 13px;
  }
  #aboutUs .aboutServiceS {
    padding: 34px 0;
    grid-template-columns: 1fr;
  }
  #aboutUs .aboutServiceCardT h4 {
    font-size: 14px;
    line-height: 16px;
  }
  #aboutUs .aboutServiceCardT h5 {
    padding-top: 6px;
  }
  #aboutUs .aboutGallery {
    padding: 24px;
    margin-bottom: 24px;
  }
  #aboutUs .aboutGallery h3 {
    padding-bottom: 24px;
  }
  #aboutUs .aboutGalleryS {
    padding-top: 24px;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}/*# sourceMappingURL=aboutUs.style.css.map */