.drop {
  background: #feffff;
  position: absolute;
  flex-direction: column;
  height: fit-content;
  width: 120px;
  padding: 10px;
  gap: 15px;
  display: flex;
  transition: 300ms all;

  &__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    color: #6c6c70;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;

    span {
      img {
        display: flex;
        width: 18px;
      }
    }
  }
}

.dropdown-container {
  position: relative;

  .dropdown__img {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}

// #caret-down {
//     transform: rotate(180deg);
// }

// .dropdown-container:hover+.drop {
//     display: flex;
//     transition: .5s all;
// }

.show {
  display: flex;
  transition: 300ms all;
}

.none {
  display: none;
}
