@use "../../Style/variables";

@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Sora:wght@700&family=Work+Sans:wght@400;600;700&display=swap');

$pricingBackground: rgba(178, 225, 217, 0.25);
$h3Text: 'Open Sans', sans-serif;
$text: 'Work Sans', sans-serif;

$featureBackground: #FFFFFF;
$featureHeader: 'Sora', sans-serif;

main {
    .pricing{
        background-color: $pricingBackground;
        font-family: $text;
        
        .text {
            text-align: center;
            max-width: 100%;
            width: 90%;
            margin-left: auto;
            margin-right: auto;

            p:nth-of-type(1) {
                font-weight: 400;
                font-size: 18px;
                line-height: 29px;
                color: #19A68E;
                padding-top: 80px;
                margin-bottom: 20px;
            }
            p:nth-of-type(2) {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #6C6C70;
                max-width: 505px;
                width: 100%;
                margin: auto;
            }
            h3 {
                font-family: $h3Text;
                font-weight: 700;
                font-size: 40px;
                line-height: 54px;
                margin-bottom: 20px;
                color: #222222;
            }
        }
    
        .plans {
            max-width: 100%;
            width: 90%;
            margin-left: auto;
            margin-right: auto;

            .btnContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #FFFFFF;
                box-shadow: 0px 4px 14px rgba(87, 80, 80, 0.1);
                border-radius: 50px;
                max-width: 315px;
                height: 74px;
                width: 100%;
                margin: 20px auto 40px;
                padding: 10px 8px;
                cursor: pointer;

                .plan-btn {
                    color: #222222;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 14px 42px;
                    gap: 10px;
                    max-width: 148px;
                    width: 100%;
                    height: 54px;
                }

                .active-btn {
                    background-color: #19A68E;
                    border-radius: 50px;
                    color: #FFFFFF;
                    font-weight: 600;
                    transition: 300ms ease-in;
                }
            }

            .plansContainer {
                display: flex;
                gap: 20px;
                justify-content: center;
                padding-bottom: 60px;

                .Basic, .Premium, .Standard {
                    padding: 20px;
                    border-radius: 10px;
                    width: 399px;
                    height: 667px;
                    position: relative;

                    h4 {
                        font-weight: 700;
                        font-size: 28px;
                        line-height: 36px;
                    }

                    p:nth-of-type(1) {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                    }

                    h3 {
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 47px;

                        span {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 26px;
                        }
                    }

                    p:nth-of-type(2) {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 26px;
                    }

                    .others {
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;

                        span {
                            display: inline-block;
                            margin-left: 20px;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 26px;
                        }
                    }

                    a {
                        text-decoration: none;
                        position: absolute;
                        bottom: 20px;
                        left: 50%;
                        transform: translate(-50%, -20px);
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 26px;
                        width: 335px;
                        height: 54px;
                        box-shadow: 0px 6px 21px rgba(0, 112, 244, 0.15);
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .Basic, .Premium {
                    background-color: #FFFFFF;
                    box-shadow: 0px 4px 14px rgba(77, 72, 72, 0.1);
                    
                    h4 {
                        color: #222222;
                    }
                    
                    p:nth-of-type(1) {
                        color: #6C6C70;
                    }

                    h3 {
                        color: #222222;

                        span {
                            color: #6C6C70;
                        }
                    }

                    p:nth-of-type(2) {
                        color: #222222;
                    }

                    .others {
                        span {
                            color: #6C6C70;
                        }
                    }

                    a {
                        background-color: #19A68E;
                        color: #FFFFFF;
                    }
                }
                .Standard {
                    background-color: #19A68E;
                    box-shadow: 0px 4px 14px rgba(77, 72, 72, 0.1);
                    color: #FFFFFF;

                    a {
                        background-color: #FFFFFF;
                        color: #19A68E;
                    }
                }
            }

        }
    }

// Feature Styles
    .feature {
        background-color: $featureBackground;
        font-family: $text;

        article {
            max-width: 100%;
            width: 90%;
            text-align: center;
            margin: auto;

            h3 {
                padding-top: 60px;
                font-weight: 600;
                font-size: 40px;
                line-height: 50px;
                font-family: $featureHeader;
                color: #222222;
            }
        }

        .tableContainer {
            box-shadow: 0px 4px 14px rgba(66, 69, 71, 0.1);
            border-radius: 8px;
            padding: 40px 20px;
            width: 942px;
            height: 962px;
            margin: 30px auto;
        
            table {
                thead {
                    background-color: #19A68E;
                    padding: 20px 16px 20px 22px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 26px;
                    color: $featureBackground;
                    font-family: $h3Text;
                    height: 64px;

                    th:nth-of-type(1) {
                        border-radius: 4px 0px 0px 4px;
                        text-align: justify;
                    }
                    
                    th:nth-of-type(4) {
                        border-radius: 0px 4px 4px 0px;
                    }
                }
            
                tbody {
                    tr {
                        height: 66px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        color: #6C6C70;

                        td:nth-of-type(1) {
                            text-align: justify;
                        }
                    }
                    tr:nth-of-type(odd) {
                        background-color: $featureBackground !important;
                    }
                    tr:nth-child(even) {
                        background-color: rgba(178, 225, 217, 0.1);
                    }
                }
            }
        }

        .featureEnd {

            h3 {
                width: 829px;
                font-family: $h3Text;
                font-weight: 700;
                font-size: 40px;
                line-height: 54px;
                color: #222222;
                margin: 0px auto 70px;
            }

            div {
                cursor: pointer;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
        }
        
    }
}


