.modal-page {
  height: 100vh;
  width: 100%;
  justify-content: center;
  position: absolute;
  display: flex;
  z-index: 999;
}
.modal {
  display: flex;
  width: 810px;
  position: absolute;
  height: fit-content;
  padding: 20px;
  background: white;
  box-shadow: 0px 0px 31px 6px rgba(8, 55, 47, 0.13);
  gap: 136px;
  margin-top: 20px;
}
.form {
  width: 40%;
  margin-top: 50px;
}
.avatar-modal {
  display: block;
  margin: auto;
  width: 242px;
  height: 242px;
  border-radius: 50%;
}

.uploadphoto {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}
.label-avatar:hover {
  color: #1a6053;
}
.profileData {
  font-weight: 400;
  color: #222222;
  font-size: 18px;
}
.cancel {
  display: flex;
  height: 44px;
  width: 100%;
  border: 1px solid #19a68e;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #19a68e;
  cursor: pointer;
}
.profile-editor:hover {
  cursor: pointer;
  background-color: #19a68e;
  color: #ffffff;
}
.save-btn {
  display: flex !important;
  width: 100%;

  gap: 10px;
}
.form-btn-wrapper {
  width: 100%;
}
.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #ffffff;
}

@media all and (max-width: 768px) {
  .modal {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 770px;
    gap: 20px;
  }
  .form {
    width: 100%;
  }
  .modal-page {
    position: absolute;
  }
}

@media all and (max-width: 480px) {
  .user-info {
    width: 100%;
  }
  .data-avatar {
    margin-left: 10px;
  }
  .modal {
    height: 870px;
  }
  .profile-editor {
    margin-left: 100px;
    margin-bottom: 20px;
  }
  .modal-page {
    position: absolute;
  }
}
