@import "../../Style/variables";

.uploadCSVContainer {
  color: #222;
  margin-top: -4em;
  text-align: center;
  background-color: #fff;
  button {
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
  div.certificateSwitch {
    padding: 6px;
    height: 100%;
    margin: auto;
    width: fit-content;
    align-items: center;
    border-radius: 20px;
    margin: 4em auto 2em;
    justify-content: center;
    display: flex !important;
    background-color: white;
    border: 0.8px solid rgba(84, 84, 84, 0.26);
    .switchBtn {
      transition: all 0.1s step-end;
      background-color: inherit;
      width: fit-content;
      border: none;
      outline: none;
      border-radius: 10px;
      padding: 0.75rem 2.5em;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      transition: '300ms ease-in';
   
      &.active {
        color: #fff;
        background: $primaryColor;
        transition: '300ms ease-in';
      }
    }
  }
  h1 {
    font-family: "Sora";
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 55px;

    align-items: center;
    letter-spacing: -0.004em;
    margin: -100px auto 1.2em;
  }
  div.certificatePreview {
    margin-bottom: 1em;
    & > * {
      width: 90%;
      max-width: 800px;
    }
  }
  .CSVSample {
    img {
      width: 70%;
      margin: auto;
    }
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 16px;
  }
  button.modiftyCertificate {
    margin-bottom: 3em;
  }
  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    margin: 0.7em;
    color: #222222;
  }
  .dragBox {
    gap: 32px;
    width: 30em;
    margin: auto;
    display: flex;
    font-size: 1.1em;
    line-height: 2em;
    margin-top: 56px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    i {
      margin: 2em;
      margin-bottom: 0;
    }
    .dragboxContainer{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 0.542553px dashed #19A68E;
      border-radius: 4.34043px;
    }
    #uploadCSV{
      border: none;
      width: 220px;
    }
    span {
      color: $uploadBtn;
      .CSVupload {
        color: inherit;
        background-color: inherit;
        font-size: inherit;
        text-decoration: underline;
        display: inline;
        margin-left: 44px;
      }
    }
  }
  .Csvbtn{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    
  }
  .Submitcsv{
    width: 133px;
    height: 48px;
    left: 554px;
    top: 477px;
    background: #19A68E;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .messagecsv{
    font-size: 8;
    font-family: Work Sans;
    color: red;
    
  }
  div.moreTemplate {
    display: flex;
    justify-content: center;
    gap: 3em;
    align-items: center;
    margin-bottom: 4em;
    overflow: auto;
    + .btnLight {
      margin-bottom: 4em;
    }
  }
  .btnLight {
    transition: all 0.5s;
    background-color: inherit;
    color: $uploadBtn;
    border: 1px solid$uploadBtn;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
      background-color: $uploadBtn;
      color: #fff;
      border-color: #fff;
    }
  }
  .file-upload {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .uploadCSVContainer {
    .certificatePreview {
      width: 60%;
      margin: auto;
      margin-bottom: 3em;
      img {
        margin: auto;
      }
    }
    .CSVSample {
      img {
        margin: auto;
        width: 70%;
      }
      margin-right: 3em;
      margin-left: 3em;
    }
    img {
      margin-right: 3em;
      margin-left: 3em;
    }
    .dragBox {
      width: 70%;
    }
    div.moreTemplate {
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px !important;
  }
  h2 {
    font-size: 20px !important;
  }
}

@media  screen and (max-width: 480px) {
  .dragBox{
    span{
      font-size: 12px; 
      .CSVupload {
        margin-left: 0px;
      }     
    }
  }
}