@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&display=swap");
.modal-wrap {
  height: 100vh;
  width: 100%;
  background: rgba(34, 34, 34, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  overflow: auto;
  font-family: "Sora", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-wrap * {
  margin: 0;
  padding: 0;
}
.modal-wrap .modal-container {
  background-color: #fff;
  width: 95%;
  border-radius: 10px;
  position: absolute;
  top: 2%;
  align-self: center;
  padding: 25px 30px 100px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 5rem;
}
.modal-wrap .modal-container .cancel-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
.modal-wrap .modal-container .modal-container__cancel {
  background: transparent;
  color: #6c6c70;
  border: none;
  font-size: 16px;
  font-family: "Sora", sans-serif;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.modal-wrap .modal-container .modal-container__cancel .cancel-x-btn {
  width: 35px;
}
.modal-wrap .modal-container .modal-body .text-green {
  color: #19a68e;
}
.modal-wrap .modal-container .modal-body .head {
  padding: 0;
  text-align: center;
}
.modal-wrap .modal-container .modal-body .head h3 {
  font-size: 24px;
  margin-bottom: 1rem;
}
.modal-wrap .modal-container .modal-body .head p {
  font-size: 16px;
  margin-bottom: 3rem;
}
.modal-wrap .modal-container .modal-body .head .w-5 {
  width: 100%;
  margin: 2rem 0 1rem 0;
}
.modal-wrap .modal-container .modal-body .head .button {
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto 2rem auto;
  padding: 0.3rem 0.4rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.modal-wrap .modal-container .modal-body .head .button button {
  width: 100%;
  border: 1px solid black;
  all: unset;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
}
.modal-wrap .modal-container .modal-body .head .button .active {
  background-color: #19a68e;
  color: #fff;
}
.modal-wrap .modal-container .modal-body .head .button .inactive {
  background-color: transparent;
  color: black;
}
.modal-wrap .modal-container .modal-body .head .button .d-none {
  display: none;
}
.modal-wrap .modal-container .modal-body form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
.modal-wrap .modal-container .modal-body form div:first-child .label {
  font-weight: 700;
}
.modal-wrap .modal-container .modal-body form div:first-child span {
  display: block;
}
.modal-wrap .modal-container .modal-body form div:first-child label {
  border: 1px solid grey;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
}
.modal-wrap .modal-container .modal-body form div .file-type {
  border: none;
  display: none;
}
.modal-wrap .modal-container .modal-body form div input {
  height: 50px;
  padding: 0 0.6rem;
  border: 1px solid gray;
}
.modal-wrap .modal-container .modal-body form .btn-success {
  all: unset;
  background-color: #19a68e;
  color: #ffffff;
  padding: 1rem 3rem;
  text-align: center;
  margin-top: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  cursor: pointer;
}
.modal-wrap .modal-container .modal-body form .btn-disabled {
  background-color: #8ab9b2;
  cursor: not-allowed;
}

@media (min-width: 480px) {
  .modal-wrap .modal-container .modal-body .head h3 {
    font-size: 32px;
    margin-bottom: 1rem;
  }
  .modal-wrap .modal-container .modal-body .head p {
    font-size: 16px;
    margin-bottom: 3rem;
  }
}
@media (min-width: 700px) {
  .modal-wrap .modal-container {
    width: 70%;
  }
  .modal-wrap .modal-container .modal-body .head .w-5 {
    width: 45%;
    margin: 0 auto 2rem auto;
  }
  .modal-wrap .modal-container .modal-body .head h3 {
    font-size: 52px;
    margin-bottom: 1rem;
  }
  .modal-wrap .modal-container .modal-body .head p {
    font-size: 24px;
    margin-bottom: 3rem;
  }
  .modal-wrap .modal-container .modal-body form {
    background-color: #FAFAFB;
    max-width: 760px;
    margin: 0 auto;
    padding: 1rem 5rem 3rem 5rem;
    border-radius: 16px;
    border: 0.1px solid #545454;
  }
}