@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&family=Work+Sans:wght@500;600;700&display=swap");
* {
  font-family: "Work Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  font-family: "Work Sans", sans-serif;
  margin: 0 auto;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}
.header h2 {
  margin-top: 6rem;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  font-weight: 700;
}
.header p {
  font-size: 0.75rem;
}

.faqContainer {
  margin: 0 auto;
  width: 80%;
  margin-top: 5rem;
  font-family: "Work Sans", sans-serif;
}
.faqContainer h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: left;
}
.faqContainer .faqWrapper {
  padding: 1.5rem 2rem 1.5rem 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #6c6c70;
}
.faqContainer .faqWrapper .faqQuestions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  align-items: flex-start;
  gap: 20px;
  cursor: pointer;
}
.faqContainer .faqWrapper .faqQuestions .question {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.faqContainer .faqWrapper .faqQuestions .question h3 {
  line-height: 160%;
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
}
.faqContainer .faqWrapper .faqQuestions .icon {
  font-size: 1.1rem;
}
.faqContainer .faqWrapper .faqAnswers {
  width: 80%;
  margin: 0 auto;
  color: #656565;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.faqContainer .faqWrapper .faqAnswers li {
  line-height: 1.5;
  font-size: 0.9rem;
  text-align: left;
}

@media screen and (min-width: 481px) {
  .header p {
    font-weight: 400;
    padding: 0.5rem 5rem;
  }
  .faqContainer {
    margin: 0 auto;
    width: 80%;
    margin-top: 3rem;
  }
  .faqContainer h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .faqContainer .faqWrapper {
    padding: 1.5rem 2rem 1.5rem 1rem;
    border-bottom: 1px solid #6c6c70;
  }
  .faqContainer .faqWrapper .faqQuestions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-family: "Work Sans", sans-serif;
    gap: 20px;
  }
  .faqContainer .faqWrapper .faqQuestions .question {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  .faqContainer .faqWrapper .faqQuestions .question h3 {
    line-height: 1.5;
    font-weight: 500;
    font-size: 1rem;
  }
  .faqContainer .faqWrapper .faqQuestions .question .faqIcon {
    width: 50px;
    height: 50px;
  }
  .faqContainer .faqWrapper .faqQuestions .question .faqIcon img {
    width: 100%;
  }
  .faqContainer .faqWrapper .faqQuestions .icon {
    font-size: 1.1rem;
  }
  .faqContainer .faqWrapper .faqAnswers {
    width: 80%;
    margin: 0 auto;
    color: #656565;
  }
  .faqContainer .faqWrapper .faqAnswers li {
    line-height: 1.5;
    font-size: 1rem;
  }
}
.faqBtn {
  margin: 0 auto 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faqFooter p {
  text-align: left;
  color: #6c6c70;
  margin: 2rem auto;
  width: 60%;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 1440px;
  }
  .header h2 {
    font-size: 2.25rem;
  }
  .header p {
    font-size: 1.25rem;
    font-weight: 400;
    padding: 0.5rem 5rem;
  }
  .faqContainer {
    margin: 0 auto;
    width: 80%;
    margin-top: 3rem;
  }
  .faqContainer h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .faqContainer .faqWrapper {
    padding: 1.5rem 2rem 1.5rem 1rem;
    border-bottom: 1px solid #6c6c70;
  }
  .faqContainer .faqWrapper .faqQuestions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-family: "Work Sans", sans-serif;
    gap: 20px;
  }
  .faqContainer .faqWrapper .faqQuestions .question {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .faqContainer .faqWrapper .faqQuestions .question h3 {
    line-height: 1.5;
    font-weight: 500;
    font-size: 1rem;
  }
  .faqContainer .faqWrapper .faqQuestions .question .faqIcon {
    width: 50px;
    height: 50px;
  }
  .faqContainer .faqWrapper .faqQuestions .icon {
    font-size: 1.1rem;
  }
  .faqContainer .faqWrapper .faqAnswers {
    width: 80%;
    margin: 0 auto;
    color: #656565;
  }
  .faqContainer .faqWrapper .faqAnswers li {
    line-height: 1.5;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    max-width: 1440px;
  }
  .header h2 {
    font-size: 3rem;
    font-weight: 600;
  }
  .header p {
    font-size: 1.7rem;
    font-weight: 400;
    padding: 0.5rem 5rem;
  }
  .faqContainer {
    margin: 0 auto;
    width: 65%;
    margin-top: 3rem;
  }
  .faqContainer h2 {
    font-size: 2rem;
  }
  .faqContainer .faqWrapper {
    background-color: transparent;
    padding: 1.5rem 2rem 1.5rem 1rem;
    border-bottom: 1px solid #6c6c70;
  }
  .faqContainer .faqWrapper .faqQuestions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-family: "Work Sans", sans-serif;
    gap: 20px;
  }
  .faqContainer .faqWrapper .faqQuestions .question {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .faqContainer .faqWrapper .faqQuestions .question h3 {
    line-height: 1.5;
    font-weight: 500;
    font-size: 1rem;
  }
  .faqContainer .faqWrapper .faqQuestions .question .faqIcon {
    width: 50px;
    height: 50px;
  }
  .faqContainer .faqWrapper .faqQuestions .question .faqIcon img {
    width: 100%;
  }
  .faqContainer .faqWrapper .faqQuestions .icon {
    font-size: 1.1rem;
  }
  .faqContainer .faqWrapper .faqAnswers {
    width: 80%;
    margin: 0 auto;
    color: #656565;
  }
  .faqContainer .faqWrapper .faqAnswers li {
    line-height: 1.5;
    font-size: 1.4rem;
  }
}