@mixin flexContainer($direction, $width, $justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
  width: $width;
  font-family: "Work Sans", sans-serif;
}

@mixin container {
  margin: 0 auto;
}


.header {
  @include flexContainer(column, 80%, center);
  @include container();
  text-align: center;
  font-family: "Work Sans", sans-serif;

  h2 {
    font-size: 1.125rem;
    font-weight: 700;
  }
  p {
    font-size: 0.75rem;
  }
}

.faqContainer {
  @include container();
  width: 80%;
  margin-top: 5rem;
  font-family: "Work Sans", sans-serif;

  h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: left;
  }

  .faqWrapper {
    box-shadow: 0px 4px 14px rgba(82, 77, 77, 0.2);
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin-bottom: 0.2rem;
    	font-family: "Work Sans", sans-serif;

    .faqQuestions {
      @include flexContainer(row, 100%, space-between);
      align-items: flex-start;
      gap: 20px;
      cursor: pointer;

      .question {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        
        h3 {
          line-height: 160%;
          font-weight: 500;
          font-size:0.875rem;
          text-align: left;
        }

       
      }
      .icon {
        font-size: 2.5rem;
      }
    }
    .faqAnswers {
      width: 80%;
      margin: 0 auto;
      color: #656565;
      transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      li {
        line-height: 1.5;
        font-size: 0.9rem;
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 481px) {
  .header {
    // max-width: 1440px;
    // @include flexContainer(column, 70%);
    // @include container();
    // text-align: center;
    // font-family: "Roboto", sans-serif;

  
    p {
    
      font-weight: 400;
      padding: 0.5rem 5rem;
    }
  }

  // Question cards
  .faqContainer {
    @include container();
    width: 80%;
    margin-top: 3rem;
    h2 {
      font-size: 1.5rem;
    }

    .faqWrapper {
      box-shadow: 0px 4px 14px rgba(82, 77, 77, 0.2);
      background-color: #fff;
      border-radius: 10px;
      padding: 1rem 2rem;
      .faqQuestions {
        @include flexContainer(row, 100%, space-between);
        gap: 20px;

        .question {
          display: flex;
          align-items: flex-start;
          gap: 10px;
          h3 {
            line-height: 1.5;
            font-weight: 500;
            font-size: 1rem;
          }

          .faqIcon {
            width: 50px;
            height: 50px;
            img {
              width: 100%;
            }
          }
        }
        .icon {
          font-size: 2.5rem;
        }
      }
      .faqAnswers {
        width: 80%;
        margin: 0 auto;
        color: #656565;

        li {
          line-height: 1.5;
          font-size: 1rem;
        }
      }
    }
  }
}

.faqBtn {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 1440px;
    // @include flexContainer(column, 70%);
    // @include container();
    // text-align: center;
    // font-family: "Roboto", sans-serif;

    h2 {
      font-size: 2.25rem;
      
    }
    p {
      font-size: 1.25rem;
      font-weight: 400;
      padding: 0.5rem 5rem;
    }
  }

  .faqContainer {
    @include container();
    width: 80%;
    margin-top: 3rem;
    h2 {
      font-size: 2rem;
    }

    .faqWrapper {
      box-shadow: 0px 4px 14px rgba(82, 77, 77, 0.2);
      background-color: #fff;
      border-radius: 10px;
      padding: 1rem 2rem;
      .faqQuestions {
        @include flexContainer(row, 100%, space-between);
        gap: 20px;

        .question {
          display: flex;
          align-items: center;
          gap: 10px;
          h3 {
            line-height: 1.5;
            font-weight: 500;
            font-size: 1rem;
          }

          .faqIcon {
            width: 50px;
            height: 50px;
           
          }
        }
        .icon {
          font-size: 2.5rem;
        }
      }
      .faqAnswers {
        width: 80%;
        margin: 0 auto;
        color: #656565;
        li {
          line-height: 1.5;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .header {
    max-width: 1440px;
    // @include flexContainer(column, 70%);
    // @include container();
    // text-align: center;
    // font-family: "Roboto", sans-serif;

    h2 {
      font-size: 3rem;
      font-weight: 600;
    }
    p {
      font-size: 1.7rem;
      font-weight: 400;
      padding: 0.5rem 5rem;
    }
  }

  .faqContainer {
    @include container();
    width: 80%;
    margin-top: 3rem;
    h2 {
      font-size: 2rem;
    }

    .faqWrapper {
      box-shadow: 0px 4px 14px rgba(82, 77, 77, 0.2);
      background-color: #fff;
      border-radius: 10px;
      padding: 1rem 2rem;

      .faqQuestions {
        @include flexContainer(row, 100%, space-between);
        gap: 20px;

        .question {
          display: flex;
          align-items: center;
          gap: 10px;
          h3 {
            line-height: 1.5;
            font-weight: 500;
            font-size: 1.4rem;
          }

          .faqIcon {
            width: 50px;
            height: 50px;
            img {
              width: 100%;
            }
          }
        }
        .icon {
          font-size: 2.5rem;
        }
      }
      .faqAnswers {
        width: 80%;
        margin: 0 auto;
        color: #656565;
        li {
          line-height: 1.5;
          font-size: 1.4rem;
        }
      }
    }
  }
}