#preview {
    .flex {
        display: flex;
    }

    .justify-between {
        justify-content: space-between;
    }

    .mode {
        width: 30%;
        margin: auto;
        border-radius: 20px;
        border: 0.8px solid rgba(84, 84, 84, 0.26);
        background-color: white;
        line-height: 19px;
        font-weight: 500;
        margin-block: 30px;
    }
}